@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Now", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: var(--color-bg);
  color: var(--color-fg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.light {
  --color-bg: #fff;
  --color-fg: #000;

  --color-gray-1: #777;
  --color-gray-2: #9c9c9c;
  --color-gray-3: #eeeeee;
}

.dark {
  --color-bg: rgb(30, 30, 30);
  --color-fg: #fff;

  --color-gray-1: #878787;
  --color-gray-2: #505050;
  --color-gray-3: #333;
}

h2 {
  @apply font-bold;
}
